// Spacers
$spacer-xxs: 4px;
$spacer-xs: 8px;
$spacer-s: 20px;
$spacer-m: 40px;
$spacer-l: 80px;
$spacer-xl: 100px;
$spacer-xxl: 140px;
$spacer-xxxl: 160px;

// Colors
$clr-black: #000;
$clr-dark: #222222;
$clr-lightgray: #f3f1f3;
$clr-white: #fff;

// Screens
$scr-desktop: 1200px;
$scr-tablet: 1020px;
$scr-mobile: 640px;
